# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de dependências
node_modules/

# Diretórios de build
dist/
build/

# Arquivos de ambiente
.env

# Arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de IDEs
.vscode/
.idea/